<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center" >
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="../home">Home</a></span> <span>Hotel</span></p>
          <h1 class="mb-3 bread" >Hotels</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
<div class="col-lg-3 sidebar">
    <div class="sidebar-wrap bg-light">
        <h3 class="heading mb-4">Find destination</h3>
        <form action="#">
          <div class="fields">
          <div class="form-group">
            <div class="select-wrap one-third">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select   name="destination" class="form-control" placeholder="Keyword search" #destination
            (change)='getdestination(destination.value)'>
              <option value="">Where</option>
              <option *ngFor='let villes of villes' value="{{villes.nom}}"  >{{villes.nom}}</option>
          </select>
          </div>
          </div>
          <div class="form-group">
           <div class="input-group">
              <ejs-daterangepicker  [format]='dateFormat' separator='to' id='daterangepicker' placeholder='Select a range' [(startDate)]='start' [(endDate)]='end'  #date
              (change)='getdate(date.value)' ></ejs-daterangepicker>
            </div>
          </div>
          <div class="form-group">
            <button type="button" value="Search" (click)="rechercher()" class="btn btn-primary py-3 px-5"> Rechercher</button>
          </div>
          </div>
        </form>

    </div>
   
      
</div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4 ftco-animate" *ngFor='let hotel of hotels' >
                          <div class="destination" >
                       <a routerLink="/hotels/{{hotel.id}}" class="img img-2 d-flex justify-content-center align-items-center" [style.background-image]="'url('+' https://www.freedomtravel.tn/assets/images/hotel_miniature/'+hotel.id+'.jpg '+')' | safe: 'style'"></a>
                           
                        
                              <div class="text p-3">
                                  <div class="d-flex">
                                      <div class="one">
                                          <h3><a routerLink="/hotels/{{hotel.id}}">{{hotel.nom}} </a></h3>
                                          <p class="rate">
                                              <span class="star" *ngIf="hotel.categorie == '2'">
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star-o"></i>
                                                    <i class="icon-star-o"></i>
                                                    <i class="icon-star-o"></i>

                                                    {{hotel.categorie}} Rating</span>
      
                                            <span class="star" *ngIf="hotel.categorie == '3'">
                                            <i class="icon-star"></i>
                                              <i class="icon-star"></i>
                                              <i class="icon-star"></i>
                                              <i class="icon-star-o"></i>
                                              <i class="icon-star-o"></i>

                                              {{hotel.categorie}} Rating</span>
                                              <span class="star" *ngIf="hotel.categorie == '4'">
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star-o"></i>

                                                {{hotel.categorie}} Rating</span>
                                                <span class="star" *ngIf="hotel.categorie == '5'">
                                                  <i class="icon-star"></i>
                                                  <i class="icon-star"></i>
                                                  <i class="icon-star"></i>
                                                  <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                  {{hotel.categorie}} Rating</span>
                                          </p>
                                      </div>
                                      <div class="two">
                                          <span class="price per-price" *ngIf="hotel.lpdvente != '0' ">{{hotel.lpdvente}} <small>LPD/night</small><br></span>
                                          <span class="price per-price" *ngIf="hotel.dpvente != '0' ">{{hotel.dpvente}} <small>DP/night</small><br></span>
                                           <span class="price per-price" *ngIf="hotel.pcvente != '0' ">{{hotel.pcvente}} <small>PC/night</small><br></span>
                                        </div>
                                  </div>
                                  <p class="bottom-area d-flex">
                                     <span><i class="icon-map-o"></i> {{hotel.ville}}</span> 
                                  </p>
                                  <hr>
                                  
                                      <span class="ml-auto text-left"><a routerLink="/hotels/{{hotel.id}}">book now</a></span>
                                 
                              </div>
                          </div>
                      </div>
                     
            </div>
            
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->

