<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome" >
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" >
        <div class="col-md-9 ftco-animate text-center" >
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="../home">Home</a></span> <span class="mr-2"><a routerLink="../hotel">Hotel</a></span> <span>Hotel Single</span></p>
          <h1 class="mb-3 bread"  >Hotels Details</h1>
          <h2><strong>{{hotel.nom}}</strong></h2>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12 ftco-animate">

                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{active:i==0}" *ngFor="let img of imgcarousels;let i = index;">
                            <img class="d-block w-100" alt=" {{img.alt}}" [src]="'https://www.freedomtravel.tn/'+img.href+''">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
                </div>
                <div class="col-lg-12 col-md-12 hotel-single mt-4 mb-5 ftco-animate">
                    <span>Our Best hotels &amp; Rooms</span>
                    <h2>Luxury Hotel in {{hotel.ville}}</h2>
                    <p class="rate mb-5">
                        <span class="loc"><i class="icon-map"></i> <strong>{{hotel.nom}}</strong></span>
                        <span class="star" *ngIf="hotel.categorie ==''">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            {{hotel.categorie}} Rating</span>
                        <span class="star" *ngIf="hotel.categorie == '3'">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>

                              {{hotel.categorie}} Rating</span>
                              <span class="star" *ngIf="hotel.categorie == '4'">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>

                                {{hotel.categorie}} Rating</span>
                                <span class="star" *ngIf="hotel.categorie == '5'">
                                  <i class="icon-star"></i>
                                  <i class="icon-star"></i>
                                  <i class="icon-star"></i>
                                  <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                  {{hotel.categorie}} Rating</span>
                          </p>
                          <p></p>
                          <p>Faites-vous chouchouter comme une star en profitant du service exclusif de l'établissement {{hotel.nom}}. <br/>
                            <strong>Ses points forts:</strong>
                          </p>
                          <div class="d-md-flex mt-5 mb-5">
                              <ul>
                                  <li><i class="fas fa-wifi">  Connexion Wi-Fi gratuite</i></li>
                                  <li><i class="fas fa-umbrella-beach">  Plage privée</i>     </li>
                                  <li><i class="fas fa-parking">  Parking gratuit</i>  </li>
                                  <li> <i class="far fa-star">  Des suites familiales</i></li>

                              </ul>
                              <ul class="ml-md-5">
                                  <li><i class="fas fa-spa">  Spa et centre de bien-être</i></li>
                                  <li><i class="fas fa-dumbbell">  Fitness center/gym</i> </li>
                                  <li><i class="fas fa-swimmer">  Piscine exterieure &  Piscine intérieure</i></li>
                                  <li><i class="fas fa-glass-martini-alt"> Bar</i></li>
                              </ul>
                          </div>
                          <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                </div>
                


                <div class="col-lg-12 col-md-12 hotel-single ftco-animate mb-5 mt-4">
                    <h4 class="mb-5">Check Availability &amp; Booking</h4>
                    <form  id="formreserv" [formGroup]="reservform" (ngSubmit)="onSubmit()" >      

                    <div class="fields">

                        <div class="row">

                            <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Name" formControlName="nom" name="nom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email" formControlName="email" name="email">
                            </div>
                        </div>
                        <div class="col-md-8 justify-content-center">
                            <div class="form-group">
                                <ejs-daterangepicker [format]='dateFormat' separator='to' id='daterangepicker' placeholder='Select a range' [(startDate)]='start' [(endDate)]='end'  #date
                                (change)='getdate(date.value)' ></ejs-daterangepicker>
               
                          </div>
                        </div>
                          <div class="col-md-6">
                              <div class="form-group">
                              <div class="select-wrap one-third">
                              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                              <select  id="" class="form-control" placeholder="Guest" formControlName="guest" name="guest"  #adulte
                              (change)='getadulte(adulte.value)'>
                                <option value="0">Guest</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                              </select>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                              <div class="select-wrap one-third">
                              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                              <select name="" id="" class="form-control" placeholder="Children" formControlName="children" name="children"  #enfant
                              (change)='getenfant(enfant.value)'>
                                <option value="0">Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                              </select>
                            </div>
                            </div>
                        </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <button    class="btn btn-primary py-3">Check Availability</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </form>

                </div>




