<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container"id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routeLink="home">Home</a></span> <span>Tour</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destination</h1>
        </div>
      </div>
    </div>
  </div>


   <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
<div class="col-lg-3 sidebar">
      <app-recherche></app-recherche>
</div>
        <div class="col-lg-9">
         <!-- Card -->
<div class="card card-cascade wider reverse" *ngFor="let voyage of voyages" >

  <!-- Card image -->
  <div class="view view-cascade overlay" >
    <img class="card-img-top" src="https://www.freedomtravel.tn/assets/images/4/{{voyage.id}}/{{voyage.nom}}" alt="Card image cap">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade ">

    <!-- Title -->
    <h3 class="card-title text-center"><strong>{{voyage.titre}}</strong></h3>
    <!-- Subtitle -->
    <h5 class="font-weight-bold indigo-text py-2 text-center"><ins> L'offre Comprend : </ins></h5>
    <!-- Text -->
    <div class="row text-left">
      <div class="col-md-6 col-sm-6 ">
    <p class="card-text "><strong>- Billet d'avion Aller/Retour. <br />
      - Sejour Hotel en LPD. <br />
      - Excurtions <br />
      - Transfert Aeropot / Hôtel</strong>
    </p>
      </div>
      
    <div class="col-md-3 col-sm-3 ">

      <span class="price night">
        <ins><strong>{{voyage.nbrejour}} jours / {{voyage.nbrenuitee}} nuitées</strong></ins>
      </span>
    </div>
    <div class="col-md-3 col-sm-3 ">
      <div class="price-box">
        <h6 class="price">
          <strong> A partir
          <ins>{{voyage.prix}}</ins>DT</strong>
          </h6>
      </div>
        </div>
    </div>
    
  </div>
  <div class="card-footer card-footer-cascade text-right ">
   
    <button class="btn blue-gradient">Réservation</button>
      
    </div>
</div>
<!-- Card -->



</div>
</div>
</div>
</section>  



