<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" >
        <div class="col-md-9 ftco-animate text-center" >
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="../home">Home</a></span> <span>Login</span></p>
          <h1 class="mb-3 bread">sign in</h1>
        </div>
      </div>
    </div>
  </div>

    <div class="container" id="containerlog">
        <div class="row block-9">
            <div class="col-md-6 pr-md-5">
              <div class="d-flex justify-content-center h-100">
                <div class="card" id="cardlog">
                  <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                      <span><i class="fab fa-facebook-square"></i></span>
                      <span><i class="fab fa-google-plus-square"></i></span>
                      <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" [(ngModel)]="user.username" name="username">
                        
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password" [(ngModel)]="user.password" name="password">
                      </div>
                      <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                      </div>
                      <div class="form-group">
                        <button (click)="loginUser()"  class="btn float-right login_btn">Sign in</button>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                      Don't have an account?<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href="#">Forgot your password?</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

        
        </div>
      </div>
    
    
    