<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink=":/home">dirEngine.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a routerLink="home" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="voyages" class="nav-link">Voyages</a></li>
          <li class="nav-item"><a routerLink="hotels" class="nav-link">Hotels</a></li>
          <li class="nav-item"><a routerLink="contact" class="nav-link">Contact</a></li>

          <li class="nav-item cta" *ngIf="(!logged())" ><a routerLink="login" class="nav-link"><span>LogIn</span></a></li>
         <li class="nav-item cta" *ngIf="(logged())"><a routerLink="login" (click)="loggout()" class="nav-link"><span>LogOut</span></a></li>
           <li class="nav-item " *ngIf="(logged())"><a routerLink="admin" class="nav-link">Admin</a></li>


        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->